@import 'colors.css';

.purple-hr{
color: var(--bs-indigo);
}

.text-green{
    color: var(--bs-green);
}

.text-yellow{
    color: var(--bs-yellow);
}

.title-header{
    text-align: center !important;
}