@import 'colors.css';



.newsletter-input{
    display: flex;
}

.button-submit{
    background-color: var( --bs-orange) !important;
    border-radius: 0 0.2em 0.2em 0 !important;
}

.newsletter-input{
   border-radius: 0.2em 0 0 0.2em!important;
}



@media (min-width: 1200px){
    .newsletter-container{
        display: flex !important;
        align-items: center;
        padding: 8rem !important;
    }
}

@media (min-width: 600px) {
    .newsletter-container{
        padding: 5rem;
    }
    .newsletter-input{
        padding: 2rem 2rem;
    }
}


@media (min-width: 300px) {
    .newsletter-container{
        display: block;
        align-items: center;
        padding: 2rem;
    }

    .newsletter-input{
        padding: 2rem 0 0 0;
    }
}